#b{
    border:3px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    margin-top: 200px;
    margin-left: 550px;
}
img{
    margin-top: 45px;
    margin-left: 45px;
}
#a{
    border:3px solid yellow;
    height: 100px;
    width: 100px;
    margin-top: 45px;
    margin-left: 45px;
}