.b1{
    background-color: gold;
    border: 1px solid black;
 height: 200px;
 width: 200px;
 text-align: center;

}
.container{
    display: grid;
    grid-template-columns: auto auto;
    background-color: aqua;
    height: 410px;
    width: 410px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 500px;

}