.b1{
    display: flex;
    width: 1000px;
    margin: auto;
    margin-top: 30px;
}
.b2{
    display: flex;
    width: 1000px;
    margin: auto;
    margin-top: 30px;
}
#a1{
border-radius: 10px;
background-color: black;
    width: 300px;
    margin: auto;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
}
#a2{
    
    width: 300px;
    margin: auto;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
}
#a3{
    
    width: 300px;
    margin: auto;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
}
#a4{
    width: 300px;
    margin: auto;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
}
#a5{
    width: 300px;
    margin: auto;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
}
#a6{
    width: 300px;
    margin: auto;
    padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;">
}

img{
    width: 300px;
    height: 450px;
    border-radius: 10px;

}
h3{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    ;
}
button{
    display: block;
    margin: auto;
    background-image: linear-gradient(to right rgb(255, 0, 251) to rgb(255, 0, 0));
    border: 0px;
    border-radius: 10px;
    background: -webkit-linear-gradient(to left, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8a2387, #e94057, #f27121);
    color: white;
    height: 40px;
    width: 200px;
}
body{
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;

}
@keyframes color {
 0%{
    background-position: 0;
 }
 50%{
    background-position: 100% 50%;
 }
 100%{
    background-position: 0 50%;
 }
}
#img1919{
    width: 300px;
    height: 450px;
    border-radius: 10px;

}