#a{
    display: flex;
    width: 1000px;
    margin: auto;
}
#b{
    display: flex;
    width: 1000px;
    margin: auto;
}
#c{
    display: flex;
    width: 1000px;
    margin: auto;
}
.ab{
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(221, 221, 242, 0.49) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    background-color: white;

    
}
p{
    text-align: center;
    color: rgb(8, 8, 8);
}
h3{
    text-align: center;
    color: rgb(8, 7, 7);

}
button{
    display: block;
    margin: auto;
    text-align: center;
}
#z{
    width: 1000px;
    margin: auto;
    text-align: center;
}
body{
    /* background-color: black; */
    background-image: radial-gradient(circle,black, blue, white)
    /* background-color: black; */
}
h1{
    color: rgb(246, 243, 243);
    background-color: rgb(207, 6, 6);
    text-align: center;
    font-style: italic;
    font-family:serif;
    font-size: 100px;
    margin: 50px;
}
h2{
    color: rgba(242, 237, 237, 0.999);
    text-align: center;
    font-style: bold;
    box-sizing: border-box;
}
input{
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 4px;
    background-color: rgb(249, 246, 246);
    text-emphasis-color: black;
    border-radius: 30px;

}
button{
    background-color: rgb(255, 34, 0);
    border-radius: 50px;
    color: rgb(235, 223, 223);
    font-style: bold;
    font-size: large;
}
h4{
    color: white;
}
/* i{
    color: white;
} */