#app{
    margin: auto;
    width: 1000px;
    text-align: center;
    padding-right: 200px;
    display: flex;
    
}
#bee{
    margin: auto;
    width: 1000px;
    text-align: center;
    padding-right: 200px;
    display: flex;
   
}
#dee{
    display: flex;
    width: 1000px;
    padding-right: 250px;
    
}
.da{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 300px;
    margin:auto;padding-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
img{
    text-align: center;
    width: 300px;
    height: 290;
}
body{
    background-color: rgb(246, 229, 191);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
}
.la{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 110px;
}

