#b{
    border:4px solid black;
    height: 600px;
    width: 600px;
    display: flex;
    margin-top: 10px;
    margin-left: 400px;
}
img{
    margin-top: 45px;
    margin-left: 45px;
}
#a{
    border:4px solid black;
    height: 100px;
    width: 100px;
    margin-top: 45px;
    margin-left: 45px;
}
