.dee{
    background-color: yellow;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;

}
.spots{
    display: grid;
    grid-template-columns: auto auto ;
    background-color: rgb(127, 255, 180);
    height: 410px;
    width: 410px;
    justify-content: center;
    text-align: center;
}