
.sh{
    background-color: rgb(154, 0, 0);
    border: 1px  solid salmon;
    height: 90px;
    width: 90px;
    
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.git{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hub{
    display: flex;
    justify-content: center;
    align-items: center;
}